.host {
  --_icon-size: var(--md-radio-icon-size, 20px);
  --_state-layer-size: var(--md-radio-state-layer-size, 40px);
  --_icon-color: var(--md-radio-icon-color, var(--md-sys-color-on-surface-variant, #49454f));
  --_selected-icon-color: var(--md-radio-selected-icon-color, var(--md-sys-color-primary, #6750a4));
  --_hover-icon-color: var(--md-radio-hover-icon-color, var(--md-sys-color-on-surface, #1d1b20));
  --_focus-icon-color: var(--md-radio-focus-icon-color, var(--md-sys-color-on-surface, #1d1b20));
  --_pressed-icon-color: var(--md-radio-pressed-icon-color, var(--md-sys-color-on-surface, #1d1b20));
  --_selected-hover-icon-color: var(--md-radio-selected-hover-icon-color, var(--md-sys-color-primary, #6750a4));
  --_selected-focus-icon-color: var(--md-radio-selected-focus-icon-color, var(--md-sys-color-primary, #6750a4));
  --_selected-pressed-icon-color: var(--md-radio-selected-pressed-icon-color, var(--md-sys-color-primary, #6750a4));
  --_disabled-icon-color: var(--md-radio-disabled-unselected-icon-color, var(--md-sys-color-on-surface, #1d1b20));
  --_disabled-icon-opacity: var(--md-radio-disabled-unselected-icon-opacity, 0.38);
  --_disabled-selected-icon-color: var(--md-radio-disabled-selected-icon-color, var(--md-sys-color-on-surface, #1d1b20));
  --_disabled-selected-icon-opacity: var(--md-radio-disabled-selected-icon-opacity, 0.38);
  --_hover-state-layer-color: var(--md-radio-hover-state-layer-color, var(--md-sys-color-on-surface, #1d1b20));
  --_hover-state-layer-opacity: var(--md-radio-hover-state-layer-opacity, 0.08);
  --_pressed-state-layer-color: var(--md-radio-pressed-state-layer-color, var(--md-sys-color-primary, #6750a4));
  --_pressed-state-layer-opacity: var(--md-radio-pressed-state-layer-opacity, 0.12);
  --_selected-hover-state-layer-color: var(--md-radio-selected-hover-state-layer-color, var(--md-sys-color-primary, #6750a4));
  --_selected-hover-state-layer-opacity: var(--md-radio-selected-hover-state-layer-opacity, 0.08);
  --_selected-pressed-state-layer-color: var(--md-radio-selected-pressed-state-layer-color, var(--md-sys-color-on-primary, #fff));
  --_selected-pressed-state-layer-opacity: var(--md-radio-selected-pressed-state-layer-opacity, 0.12);

  display: inline-flex;
  height: var(--_icon-size);
  width: var(--_icon-size);
  outline: none;
  position: relative;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.host.disabled {
  cursor: default;
}

.host.touchTargetWrapper {
  margin: max(0px, calc((48px - var(--_icon-size)) / 2));
}

.input {
  appearance: none;
  height: 48px;
  width: 48px;
  margin: 0;
  position: absolute;
  opacity: 0;
  outline: none;
  z-index: 2;
  cursor: inherit;
  inset: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  place-content: center;
  place-items: center;
  position: relative;
}

.icon {
  fill: var(--_icon-color);
  inset: 0;
  position: absolute;
  width: var(--_icon-size);
  height: var(--_icon-size);
}

.circle.outer {
  transition: fill 50ms linear;
}

.circle.inner {
  opacity: 0;
  transform-origin: center;
  transition: opacity 50ms linear;
}

.checked .icon {
  fill: var(--_selected-icon-color);
}

.checked .circle.inner {
  animation: inner-circle-grow 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
  opacity: 1;
}

@keyframes inner-circle-grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.disabled .circle {
  animation-duration: 0s;
  transition-duration: 0s;
}

.host:hover .icon {
  fill: var(--_hover-icon-color);
}

.host:focus-within .icon {
  fill: var(--_focus-icon-color);
}

.host:active .icon {
  fill: var(--_pressed-icon-color);
}

.host.disabled .icon {
  fill: var(--_disabled-icon-color);
  opacity: var(--_disabled-icon-opacity);
}

.host:hover .checked .icon {
  fill: var(--_selected-hover-icon-color);
}

.host:focus-within .checked .icon {
  fill: var(--_selected-focus-icon-color);
}

.host:active .checked .icon {
  fill: var(--_selected-pressed-icon-color);
}

.host.disabled .checked .icon {
  fill: var(--_disabled-selected-icon-color);
  opacity: var(--_disabled-selected-icon-opacity);
}

.ripple {
  border-radius: 50%;
  height: var(--_state-layer-size);
  width: var(--_state-layer-size);
  inset: unset;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
}

.ripple::before {
  content: '';
  opacity: 0;
  position: absolute;
  inset: 0;
  background-color: var(--_hover-state-layer-color);
  transition: opacity 15ms linear, background-color 15ms linear;
  border-radius: inherit;
}

.ripple::after {
  content: '';
  opacity: 0;
  position: absolute;
  background: radial-gradient(
    closest-side,
    var(--_pressed-state-layer-color) max(calc(100% - 70px), 65%),
    transparent 100%
  );
  transform-origin: center center;
  transition: opacity 375ms linear;
  inset: 0;
  border-radius: inherit;
}

.ripple.hovered::before {
  opacity: var(--_hover-state-layer-opacity);
}

.ripple.pressed::after {
  opacity: var(--_pressed-state-layer-opacity);
  transition-duration: 105ms;
}

.ripple.selected::before {
  background-color: var(--_selected-hover-state-layer-color);
}

.ripple.selected.hovered::before {
  opacity: var(--_selected-hover-state-layer-opacity);
}

.ripple.selected::after {
  background: radial-gradient(
    closest-side,
    var(--_selected-pressed-state-layer-color) max(calc(100% - 70px), 65%),
    transparent 100%
  );
}

.ripple.selected.pressed::after {
  opacity: var(--_selected-pressed-state-layer-opacity);
}

.disabled .ripple {
  display: none;
}

.focusRing {
  height: 44px;
  width: 44px;
  inset: unset;
  position: absolute;
  border-radius: 50%;
  outline: none;
  opacity: 0;
  transition: opacity 0.15s ease;
  outline: 3px solid var(--md-sys-color-secondary, #625b71);
  outline-offset: 0;
}

.input:focus-visible ~ .container .focusRing {
  opacity: 1;
}

.touchTarget {
  height: 48px;
  width: 48px;
  position: absolute;
}

.host[data-touch-target="none"] .touchTarget {
  display: none;
}

@media (forced-colors: active) {
  .icon {
    fill: CanvasText;
  }

  .host.disabled .icon {
    fill: GrayText;
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .checked .circle.inner {
    animation-duration: 0.01ms;
  }
  
  .ripple::before,
  .ripple::after {
    transition-duration: 0.01ms;
  }
}
