// Radio.module.css
.container {
  /* Base container */
}

.checked {
  /* Checked state */
}

.icon {
  /* SVG icon */
}

.circle {
  /* Base circle */
}

.outerCircle {
  /* Outer ring circle */
}

.innerCircle {
  /* Inner dot circle */
}

.touchTarget {
  /* Expanded touch target */
}
