// LinearProgress.module.css
.progress {
  /* Base progress container */
}

.indeterminate {
  /* Indeterminate animation state */
}

.fourColor {
  /* Four color variant */
}

.dots {
  /* Buffer dots */
}

.inactiveTrack {
  /* Inactive track/buffer track */
}

.bar {
  /* Progress bar base */
}

.primaryBar {
  /* Primary progress bar */
}

.secondaryBar {
  /* Secondary progress bar for indeterminate */
}

.barInner {
  /* Inner bar element */
}
