// Switch.module.css
.switch {
  /* Base switch container */
}

.selected {
  /* Selected state */
}

.unselected {
  /* Unselected state */
}

.disabled {
  /* Disabled state */
}

.touch {
  /* Touch target input */
}

.track {
  /* Track background */
}

.handleContainer {
  /* Handle container */
}

.handle {
  /* Handle element */
}

.withIcon {
  /* Handle with icon */
}

.touchTarget {
  /* Expanded touch target */
}

.icons {
  /* Icons container */
}

.icon {
  /* Base icon */
}

.iconOn {
  /* Selected icon */
}

.iconOff {
  /* Deselected icon */
}
