.host {
  --_track-width: var(--md-switch-track-width, 52px);
  --_track-height: var(--md-switch-track-height, 32px);
  --_track-shape: var(--md-switch-track-shape, 16px);
  --_handle-width: var(--md-switch-handle-width, 16px);
  --_handle-height: var(--md-switch-handle-height, 16px);
  --_handle-shape: var(--md-switch-handle-shape, 9999px);
  --_selected-handle-width: var(--md-switch-selected-handle-width, 24px);
  --_selected-handle-height: var(--md-switch-selected-handle-height, 24px);
  --_pressed-handle-width: var(--md-switch-pressed-handle-width, 28px);
  --_pressed-handle-height: var(--md-switch-pressed-handle-height, 28px);
  --_with-icon-handle-width: var(--md-switch-with-icon-handle-width, 24px);
  --_with-icon-handle-height: var(--md-switch-with-icon-handle-height, 24px);
  --_state-layer-size: var(--md-switch-state-layer-size, 40px);
  --_icon-size: var(--md-switch-icon-size, 16px);
  --_selected-icon-size: var(--md-switch-selected-icon-size, 16px);

  --_track-color: var(--md-switch-track-color, var(--md-sys-color-surface-container-highest, #e6e0e9));
  --_track-outline-color: var(--md-switch-track-outline-color, var(--md-sys-color-outline, #79747e));
  --_selected-track-color: var(--md-switch-selected-track-color, var(--md-sys-color-primary, #6750a4));
  --_handle-color: var(--md-switch-handle-color, var(--md-sys-color-outline, #79747e));
  --_selected-handle-color: var(--md-switch-selected-handle-color, var(--md-sys-color-on-primary, #fff));
  --_icon-color: var(--md-switch-icon-color, var(--md-sys-color-surface-container-highest, #e6e0e9));
  --_selected-icon-color: var(--md-switch-selected-icon-color, var(--md-sys-color-on-primary-container, #21005d));
  
  --_hover-handle-color: var(--md-switch-hover-handle-color, var(--md-sys-color-on-surface-variant, #49454f));
  --_hover-track-color: var(--md-switch-hover-track-color, var(--md-sys-color-surface-container-highest, #e6e0e9));
  --_selected-hover-handle-color: var(--md-switch-selected-hover-handle-color, var(--md-sys-color-primary-container, #eaddff));
  --_selected-hover-track-color: var(--md-switch-selected-hover-track-color, var(--md-sys-color-primary, #6750a4));
  
  --_hover-state-layer-color: var(--md-switch-hover-state-layer-color, var(--md-sys-color-on-surface, #1d1b20));
  --_hover-state-layer-opacity: var(--md-switch-hover-state-layer-opacity, 0.08);
  --_pressed-state-layer-color: var(--md-switch-pressed-state-layer-color, var(--md-sys-color-on-surface, #1d1b20));
  --_pressed-state-layer-opacity: var(--md-switch-pressed-state-layer-opacity, 0.12);
  --_selected-hover-state-layer-color: var(--md-switch-selected-hover-state-layer-color, var(--md-sys-color-primary, #6750a4));
  --_selected-hover-state-layer-opacity: var(--md-switch-selected-hover-state-layer-opacity, 0.08);
  --_selected-pressed-state-layer-color: var(--md-switch-selected-pressed-state-layer-color, var(--md-sys-color-primary, #6750a4));
  --_selected-pressed-state-layer-opacity: var(--md-switch-selected-pressed-state-layer-opacity, 0.12);

  --_disabled-track-color: var(--md-switch-disabled-track-color, var(--md-sys-color-surface-container-highest, #e6e0e9));
  --_disabled-track-opacity: var(--md-switch-disabled-track-opacity, 0.12);
  --_disabled-handle-color: var(--md-switch-disabled-handle-color, var(--md-sys-color-on-surface, #1d1b20));
  --_disabled-handle-opacity: var(--md-switch-disabled-handle-opacity, 0.38);
  --_disabled-selected-track-color: var(--md-switch-disabled-selected-track-color, var(--md-sys-color-on-surface, #1d1b20));
  --_disabled-selected-handle-color: var(--md-switch-disabled-selected-handle-color, var(--md-sys-color-surface, #fef7ff));

  display: inline-flex;
  outline: none;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.host.disabled {
  cursor: default;
}

.host.touchTargetWrapper {
  margin: max(0px, calc((48px - var(--_track-height)) / 2)) 0;
}

.switch {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  position: relative;
  width: var(--_track-width);
  height: var(--_track-height);
  border-radius: var(--_track-shape);
}

.input {
  appearance: none;
  height: max(100%, 48px);
  width: max(100%, 48px);
  outline: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  cursor: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.host[data-touch-target="none"] .input {
  display: none;
}

.track {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track::before {
  content: '';
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  box-sizing: border-box;
  transition-property: opacity, background-color;
  transition-timing-function: linear;
  transition-duration: 67ms;
}

.unselected .track::before {
  background-color: var(--_track-color);
  border: 2px solid var(--_track-outline-color);
}

.selected .track::before {
  background-color: var(--_selected-track-color);
}

.unselected:hover .track::before {
  background-color: var(--_hover-track-color);
}

.selected:hover .track::before {
  background-color: var(--_selected-hover-track-color);
}

.disabled .track::before {
  transition: none;
  opacity: var(--_disabled-track-opacity);
}

.unselected.disabled .track::before {
  background-color: var(--_disabled-track-color);
  border-color: var(--_disabled-track-color);
}

.selected.disabled .track::before {
  background-color: var(--_disabled-selected-track-color);
}

.handleContainer {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  transition: margin 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.selected .handleContainer {
  margin-inline-start: calc(var(--_track-width) - var(--_track-height));
}

.unselected .handleContainer {
  margin-inline-end: calc(var(--_track-width) - var(--_track-height));
}

.disabled .handleContainer {
  transition: none;
}

.handle {
  border-radius: var(--_handle-shape);
  height: var(--_handle-height);
  width: var(--_handle-width);
  transform-origin: center;
  transition-property: height, width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  z-index: 0;
  position: relative;
}

.handle::before {
  content: '';
  display: flex;
  inset: 0;
  position: absolute;
  border-radius: inherit;
  box-sizing: border-box;
  transition: background-color 67ms linear;
}

.selected .handle {
  height: var(--_selected-handle-height);
  width: var(--_selected-handle-width);
}

.handle.withIcon {
  height: var(--_with-icon-handle-height);
  width: var(--_with-icon-handle-width);
}

.switch:not(.disabled):active .handle {
  height: var(--_pressed-handle-height);
  width: var(--_pressed-handle-width);
  transition-timing-function: linear;
  transition-duration: 100ms;
}

.unselected .handle::before {
  background-color: var(--_handle-color);
}

.selected .handle::before {
  background-color: var(--_selected-handle-color);
}

.unselected:hover .handle::before {
  background-color: var(--_hover-handle-color);
}

.selected:hover .handle::before {
  background-color: var(--_selected-hover-handle-color);
}

.disabled .handle,
.disabled .handle::before {
  transition: none;
}

.unselected.disabled .handle::before {
  background-color: var(--_disabled-handle-color);
  opacity: var(--_disabled-handle-opacity);
}

.selected.disabled .handle::before {
  background-color: var(--_disabled-selected-handle-color);
}

.icons {
  position: relative;
  height: 100%;
  width: 100%;
}

.icon {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  transition: fill 67ms linear, opacity 33ms linear, transform 167ms cubic-bezier(0.2, 0, 0, 1);
  opacity: 0;
}

.disabled .icon {
  transition: none;
}

.iconOn {
  width: var(--_selected-icon-size);
  height: var(--_selected-icon-size);
  color: var(--_selected-icon-color);
}

.iconOff {
  width: var(--_icon-size);
  height: var(--_icon-size);
  color: var(--_icon-color);
}

.selected .iconOn,
.unselected .iconOff {
  opacity: 1;
}

.unselected .handle:not(.withIcon) .iconOn {
  transform: rotate(-45deg);
}

.ripple {
  border-radius: 50%;
  height: var(--_state-layer-size);
  width: var(--_state-layer-size);
  inset: unset;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

.ripple::before {
  content: '';
  opacity: 0;
  position: absolute;
  inset: 0;
  background-color: var(--_hover-state-layer-color);
  transition: opacity 15ms linear;
  border-radius: inherit;
}

.ripple::after {
  content: '';
  opacity: 0;
  position: absolute;
  background: radial-gradient(
    closest-side,
    var(--_pressed-state-layer-color) max(calc(100% - 70px), 65%),
    transparent 100%
  );
  transform-origin: center center;
  transition: opacity 375ms linear;
  inset: 0;
  border-radius: inherit;
}

.ripple.hovered::before {
  opacity: var(--_hover-state-layer-opacity);
}

.ripple.pressed::after {
  opacity: var(--_pressed-state-layer-opacity);
  transition-duration: 105ms;
}

.selected .ripple::before {
  background-color: var(--_selected-hover-state-layer-color);
}

.selected .ripple.hovered::before {
  opacity: var(--_selected-hover-state-layer-opacity);
}

.selected .ripple::after {
  background: radial-gradient(
    closest-side,
    var(--_selected-pressed-state-layer-color) max(calc(100% - 70px), 65%),
    transparent 100%
  );
}

.selected .ripple.pressed::after {
  opacity: var(--_selected-pressed-state-layer-opacity);
}

.disabled .ripple {
  display: none;
}

.focusRing {
  position: absolute;
  inset: -2px;
  border-radius: calc(var(--_track-shape) + 2px);
  outline: none;
  opacity: 0;
  transition: opacity 0.15s ease;
  outline: 3px solid var(--md-sys-color-secondary, #625b71);
  outline-offset: 0;
}

.input:focus-visible ~ .focusRing {
  opacity: 1;
}

@media (forced-colors: active) {
  .selected .track::before {
    background: ButtonText;
    border-color: ButtonText;
  }

  .unselected .handle::before {
    background: ButtonText;
  }

  .disabled .track::before {
    border-color: GrayText;
    opacity: 1;
  }

  .disabled.selected .track::before {
    background: GrayText;
  }

  .disabled .handle::before {
    opacity: 1;
  }

  .disabled.unselected .handle::before {
    background: GrayText;
  }
}

@media (prefers-reduced-motion: reduce) {
  .handleContainer {
    transition-duration: 0.01ms;
  }

  .handle {
    transition-duration: 0.01ms;
  }

  .handle::before {
    transition-duration: 0.01ms;
  }

  .icon {
    transition-duration: 0.01ms;
  }

  .ripple::before,
  .ripple::after {
    transition-duration: 0.01ms;
  }
}
