// CircularProgress.module.css
.progress {
  /* Base progress container */
}

.indeterminate {
  /* Indeterminate animation state */
}

.fourColor {
  /* Four color variant */
}

.spinner {
  /* Spinner container for indeterminate */
}

.left {
  /* Left half container */
}

.right {
  /* Right half container */
}

.circle {
  /* Rotating circle element */
}

.track {
  /* Background track circle */
}

.activeTrack {
  /* Active progress circle */
}
