// IconButton.module.css
.iconButton {
  /* Base icon button */
}

.flipIcon {
  /* Flipped icon for RTL */
}

.selected {
  /* Selected state in toggle mode */
}

.icon {
  /* Icon container */
}

.iconSelected {
  /* Selected icon variant */
}

.link {
  /* Link anchor element */
}

.touch {
  /* Touch target */
}
